<article>
    <ul class="library">
        <li class="library-book">
            <div class="library-img">
                <img src="{{bookthumbnail}}">
            </div>
            <div class="book-name">
                <a href="/book/{{id}}" class="links">{{title}}</a>
            </div>
        </li>
    </ul>
</article>