                <div class="library-img">
                <img src="{{thumbnail}}">
            </div>
            <div class="book-name">
                <a href="/book/{{id}}" class="links">{{title}}</a>
            </div>