<head>
    <meta charset="UTF-8">
    <title>The Last Chapter</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="">
        <header class="">
            <h1>
                The Last Chapter
            </h1>
        </header>
        <main class="">
            {{{ body }}}
        </main>
    </div>
</body>