<div class="bookstore">
<div class="app-description">
    <p>A wonderful application to select from thousands of books and share youre wishlist with others</p>
</div>
<div class="user-lists">
    <h1>Wishlists</h1>
    <ul class="wishlist-lists">
        <li>
            <article class="wishlist">
                <div class="whole-list">
                    <div class="info-section">
                        <div class="list-name">
                            <a href="" class="links">my Wishlist</a>
                        </div>
                        <div class="created-by">
                            <p id="book-subtitle">
                               Created by <b>Thomas </b> on <b>7/23/2022</b>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </li>
        <li>
            <article class="wishlist">
                <div class="whole-list">
                    <div class="info-section">
                        <div class="list-name">
                            <a href="" class="links">The only list you need</a>
                        </div>
                        <div class="created-by">
                            <p id="book-subtitle">
                               Created by <b>Billy bob </b> on <b>8/11/2022</b>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </li>
        <li>
            <article class="wishlist">
                <div class="whole-list">
                    <div class="info-section">
                        <div class="list-name">
                            <a href="" class="links">The Wishlist</a>
                        </div>
                        <div class="created-by">
                            <p id="book-subtitle">
                               Created by <b>Bret </b> on <b>7/30/2022</b>
                            </p>
                        </div>
                    </div>
                </div>
            </article>
        </li>
    </ul>
</div>
</div>