<div class="login-page">
    <div class="form-header">
        <h1>Sign In</h1>
    </div>
    <form class="login">
    <div class="form-section">
<<<<<<< HEAD
=======
        <form class="login-form" method="post">
            <section>
>>>>>>> config
                <label for="username">Username</label>
                <input id="username-input" class="form-section" name="username" type="text" autocomplete="username" required autofocus/>
    </div>
    <div class="form-section">
                <label for="current-password">Password</label>
                <input id="password-input" class="form-section" name="password" type="password" autocomplete="current-password" required/>
    </div>
            <button type="submit">Sign in</button>
        </form>
<<<<<<< HEAD
        </br>
        <p>Or Sign Up <a href="/signup">here</a></p>
    </div>
=======
    </div>

</section>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>
>>>>>>> config
