<section class="sign-up-page">
    <div class="form-heading">
        <h1>Sign Up</h1>
    </div>
    <form class="signup">
    <div class="form-section">
                <label for="username">Username</label>
                <input id="username-signup" class="form-section" name="username" type="text" />
    </div>
    <div class="form-section">
                <label for="password">Password</label>
                <input id="password-signup" class="form-section" name="password" type="password" />
    </div>
            <button type="submit">Sign up!</button>
        </form>

    <a href="/login" class="login-link">log in instead</a>
</section>