{{!<section class="sign-in-page">
    <div class="form-heading">
        <h1>Sign Up</h1>
    </div>
        <form class="signup-form">
            <div class="form-section">
                <label for="username-signup">Username</label>
                <input type="text" class="entry-field" id="username-signup" />
            </div>
            <div class="form-section">
                <label for="password-signup">password</label>
                <input type="password" class="entry-field" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="login-signup-btn">Sign Up!</button>
            </div>
        </form>

    <a href="/login" class="login-link">log in instead</a>
</section>!}}

<div class="login-page">
    <div class="form-header">
        <h1>Sign Up</h1>
    </div>
    <form class="signup">
    <div class="form-section">
                <label for="username">Username</label>
                <input id="username-create" class="form-section" name="username" type="text" required autofocus/>
    </div>
    <div class="form-section">
                <label for="current-password">Password</label>
                <input id="password-create" class="form-section" name="password" type="password" required/>
    </div>
            <button type="submit">Create Account!</button>
        </form>
        </br>
    </div>