<section class="sign-in-page">
    <div class="form-heading">
        <h1>Sign Up</h1>
    </div>
    <form class="signup">
        <div class="form-section">
                <label for="username-signup">Select a Username</label>
                <input type="text" class="entry-field" id="username-signup" />
            </div>
            <div class="form-section">
                <label for="password-signup">Select a password</label>
                <input type="password" class="entry-field" id="password-signup" />
            </div>
            <div class="form-section">
                <label for="email-signup">Enter Your email</label>
                <input type="email" class="entry-field" id="email-signup" />
            </div>
                <button type="submit" class="login-signup-btn">Sign Up!</button>
        </form>
    </div>

    <a href="/login" class="login-link">log in instead</a>
</section>