<section class="sign-up-page">
    <div class="form-heading">
        <h1>Sign Up</h1>
    </div>
    <form class="signup">
<<<<<<< HEAD
        <div class="form-section">
                <label for="username-signup">Select a Username</label>
                <input type="text" class="entry-field" id="username-signup" />
            </div>
            <div class="form-section">
                <label for="password-signup">Select a password</label>
                <input type="password" class="entry-field" id="password-signup" />
            </div>
            <div class="form-section">
                <label for="email-signup">Enter Your email</label>
                <input type="email" class="entry-field" id="email-signup" />
            </div>
                <button type="submit" class="login-signup-btn">Sign Up!</button>
        </form>
=======
    <div class="form-section">
                <label for="username">Username</label>
                <input id="username-signup" class="form-section" name="username" type="text" />
>>>>>>> 450bfc960e57fe4bdc408694a6a3c516e18eca42
    </div>
    <div class="form-section">
                <label for="password">Password</label>
                <input id="password-signup" class="form-section" name="password" type="password" />
    </div>
            <button type="submit">Sign up!</button>
        </form>

    <a href="/login" class="login-link">log in instead</a>
</section>