<article class="book">
    <div class="whole-book">
        <div class="book-info">
            <div class="img">
                <img src="http://books.google.com/books/content?id=KQZCPgAACAAJ&printsec=frontcover&img=1&zoom=1&source=gbs_api">
            </div>
            <div class="book-name">
                <a href="" class="links book-name"><h1>Gilead</h1></a>
            </div>
            <div class="created-by">
                <p id="book-subtitle">
                   Written by <b>Marilynne Robinson </b> in <b>2004</b>
                </p>
            </div>
            <div class="count">
                <p>
                    Page count: <b>247</b>
                </p>
            </div>
        <div class="description">
            <p>A NOVEL THAT READERS and critics have been eagerly anticipating for over a decade, Gilead is an astonishingly imagined story of remarkable lives. John Ames is a preacher, the son of a preacher and the grandson (both maternal and paternal) of preachers. It’s 1956 in Gilead, Iowa, towards the end of the Reverend Ames’s life, and he is absorbed in recording his family’s story, a legacy for the young son he will never see grow up. Haunted by his grandfather’s presence, John tells of the rift between his grandfather and his father: the elder, an angry visionary who fought for the abolitionist cause, and his son, an ardent pacifist. He is troubled, too, by his prodigal namesake, Jack (John Ames) Boughton, his best friend’s lost son who</p>
        </div>
        </div>
    </div>
</article>