:root {
    --primary: #800000;
    --secondary: #f5efdc;
    --tertiary: #fa7f72;
    --light: #ebebeb;
    --dark: #182c23;
    --error: red;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--secondary);
}

header {
    padding: 40px;
    text-align: left;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}